@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  background: url(./img/bg.png) repeat;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-weight: normal;
  background-color: #fff;
  color: black;
}

/* .bg {
  background: url(./img/bg.png) repeat;
  width: 100vw;
  height: 100vh;
} */

*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

.label {
  font-weight: 500;
  color: rgb(95, 92, 88);
  margin-left: 5px;
}

.box_error_message {
  height: 20px;
}

.error_message_text {
  color: red;
  margin-left: 5px;
}
